<header>
    <div class="logo">C<span class="white">O</span>NÉLET</div>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="header-actions">

        <div class="dropdown">
            <% if (user) { %>
                <a href="#" class="account-link" id="user-display">
                    Hello, <%= user.name %>! <i class="fas fa-chevron-down"></i>
                </a>
                <div class="dropdown-content-menu">
                    <a href="/account/logout" class="dropdown-item">Logout</a>
                </div>
            <% } else { %>
                <a href="/login" class="account-link">
                    Account <i class="fas fa-chevron-down"></i>
                </a>
            <% } %>
        </div>

        <img src="/cart/user-person-account-avatar-profile-man-svgrepo-com.svg" alt="Account" class="bag-icon">

    </div>
</header>
