<header>
  <nav class="navbar">
    <ul class="nav-menu">
      <!-- These links go to the routes we will build in server.js -->
      <li><a href="/" class="navlink">Home</a></li>
      <li><a href="/products" class="navlink">Products</a></li>
      <li><a href="/#about" class="navlink">About Us</a></li>
      <li><a href="/#contact" class="navlink">contact</a></li>
    </ul>
  </nav>
</header>
